.APP {
  margin-top: 6rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.active:hover {
  background-color: rgb(161, 168, 168);
  border-radius: 4px;
  transition: all 0.3s;
}
.navbar-title {
  width: 100%;
  font-weight: 700;
}
.chart {
  position: relative;
}
.chart .title {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 55%;
  position: absolute;
  left: 0;
  right: 10%;
  top: 25%;
  border-radius: 50%;
  overflow: hidden;
  color: #432371;
}
